/* colour palette */
/* #E7ECEF
#274C77
#6096BA
#A3CEF1
#8B8C89 */


:root {
    --clr-accent-400: #6096BA;
    --clr-accent-100: #A3CEF1;

    --clr-primary-400: #274C77;

    --clr-neutral-100: #8B8C89;
    --clr-neutral-900: #E7ECEF;
/* font family */
    --ff-primary: 'Unbounded', cursive;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
/* font weights */
    --fw-regular: 300;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    /* font size */
    --fs-300: ;
    --fs-400: 1rem;
    --fs-500: ;
    --fs-600: ;
}

body {
    background: #E7ECEF;
    font-family: var(--ff-primary)
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
/* body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
} */

/* instead of just resetting margin as above */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
/* dont need this as we set font inherit further up */
/* input,
button,
textarea,
select {
  font: inherit;
} */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */
.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-accent-400 {
  color: var(--clr-accent-400);
}
.text-accent-100 {
  color: var(--clr-accent-100);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

/* START NORMAL CODING FROM HERE */
li {
  padding: 1rem;
}


.header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}

.logo {
  height: 56px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-content: center;
  justify-content: center;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--clr-primary-400);
}

.columns {
  box-sizing: border-box;
}

.content {
  box-sizing: border-box;
  width: 700px;
  float: left;
}

.sidebar {
  box-sizing: border-box;
  width: 280px;
  float: right;
}
