/* colour palette */
/* 
#f5e1be light orange
#dccaaa darker light orange
#fac670 mid orange
#e0b164 darker mid orange
#f37925 dark orange
#da6c21 darker dark orange
#f5e1be purple
#ac96ce darker purple
#91c3ce blue
#82afb9 darker blue
#0d0d0d black

*/


:root {
    --clr-accent-400: #6096BA;
    --clr-accent-100: #A3CEF1;

    --clr-primary-400: #274C77;

    --clr-neutral-100: #8B8C89;
    --clr-neutral-900: #E7ECEF;
/* font family */
    --ff-primary: 'Roboto', sans-serif;;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
/* font weights */
    --fw-regular: 300;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    /* font size */
    --fs-300: ;
    --fs-400: 1rem;
    --fs-500: ;
    --fs-600: ;
}

body {
    background: #E7ECEF;
    font-family: var(--ff-primary)
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
/* body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
} */

/* instead of just resetting margin as above */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
/* dont need this as we set font inherit further up */
/* input,
button,
textarea,
select {
  font: inherit;
} */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */

/* havent done any yet */


/* colour palette */
/* 
#f5e1be light orange
#dccaaa darker light orange
#fac670 mid orange
#e0b164 darker mid orange
#f37925 dark orange
#da6c21 darker dark orange
#f5e1be purple
#ac96ce darker purple
#91c3ce blue
#82afb9 darker blue
#0d0d0d black

*/
/* START NORMAL CODING FROM HERE */
.top-container {
  display: flex;
  height: 100vh;
}

.hero-left {
  background-color: #fac670;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  padding-left: 20px;
}

.hero-right {
  background-color: #0d0d0d;
  color: white;
  width: 50vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-top {
  font-size: 35px;
  font-weight: 900;
}

.burger {
  margin-right: 20px;
  justify-content: center;
  background-color: #fac670;
}

.hero-title {
  font-size: 78px;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  line-height: 65px;
  width: 400px;
}

.hero-bottom {
  font-size: 17px;
  font-weight: 900;
  width: 255px;
  vertical-align: baseline;
}